.container{
    height:70%;
    width: 30%;
    padding: 2rem;
    background:transparent;
    display: flex;
    gap:4rem;
    flex-direction: column;

}
input{
    padding: 10px;
    border-radius: 10px;
    width: 20rem;
    outline: none;
    border: 1px solid gray;
}
.container>div{
    display:flex;
    flex-direction: column;
    gap:10px;
    justify-items: flex-start;
    align-items: flex-start;
}